@import "../../variables";

$nav-border-bottom-height: 3px;
$nav-link-margin: 0 10px;

.navigation-container {
  height: $nav-height;
}

section.navigation {
  position: relative;
  padding: 0;
  margin: 0;
  background: $hacs-blue;
  border-bottom: $nav-border-bottom-height solid $hacs-blue;
  min-height: initial;
  height: $nav-height - $nav-border-bottom-height;
  text-align: left;
  width: 100%;
  box-shadow: $shadow;

  .navigation-links-container {
    background: transparent;
    height: initial;
    // max-width: 1200px;
    // overflow: visible;
    position: initial;
    transition: 0.3s ease-out;
    width: 100%;
    text-align: right;
    margin-right: 8vw;

    .nav-link {
      color: $light-light;
      display: inline;
      font: $title-font;
      margin: $nav-link-margin;
      transition: 0.3s all;
      padding: 10px 10px;

      &:hover,
      &:focus {
        color: $hacs-gold;
        cursor: pointer;
      }
    }
  }
}

.navigation-sticky {
  // background: #333;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 99;
  // animation: moveDown .5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
