.admin-panel {
  width: $display-max-width;
  padding: $full-screen-safe-zone;
  font-family: $title-font;

  .admin-edit {
    padding-left: 50px;
    border-left: 2px solid #495057;
  }

  .opportunities-edit {
    overflow-x: auto;
    align-items: flex-start;
  }

  .opportunities-edit {
    justify-content: flex-start;
    gap: 5%;
  }

  .admin-group {
    margin-bottom: 1rem;
    max-width: 50%;

    .admin-group-title {
      margin-block-end: 1rem;
    }
  }

  .button-container {
    justify-content: flex-start;
  }
}

// Smartphone/Low-Res Tablets
@media only screen and (max-width: 768px) {
  .admin-panel {
    .admin-group {
      width: 80vw;
      max-width: none;
    }
  }
}
