$qrcode-preview-size: 300px;

.qrcode-manager {
  .qrcode-display-container {
    justify-content: center;
    align-items: flex-start;

    .qrcode-wrapper {
      width: $qrcode-preview-size;
      text-align: left;
      
      #full-res-qrcode-wrapper {
        height: 0;
        overflow: hidden;
      }

      #low-res-qrcode-preview {
        height: $qrcode-preview-size !important;
        width: $qrcode-preview-size !important;
      }
    }
  }
}
