@import "../../variables";
.global-header-container {
  width: $display-max-width;
  height: 100px;
  box-sizing: border-box;
  padding: $full-screen-safe-zone;

  .global-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    border-bottom: 5px solid $hacs-blue;

    .header-mobile {
      display: none;
    }

    h3 {
      font-family: $title-font;
      color: $title-text;
      font-size: 16px;
    }
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 768px) {
  .global-header-container {
    width: $display-max-width;
    height: initial;
    box-sizing: border-box;
    padding: $full-screen-safe-zone;

    .global-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 auto;
      border-bottom: 5px solid $hacs-blue;

      h3, .header-mobile {
        font-family: $title-font;
        color: $title-text;
        font-size: 16px;
        display: block;
        font-size: 2rem;
        margin: 10px 0;
        padding: 0 20px;
      }

      .socials {
        margin-right: 20%;
      }
    }
  }

  .header-desktop {
    display: none;
  }
}
